body,html{
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
h1 {
    color: white;
}

p {
   color: white;
}

h3{
    color: black;
}

.style1 {
    
}
